extends layout.pug

block head
    link(rel="stylesheet" href="/stylesheets/dashboard.css")

block content
    h1 Node Server
    h4 Admin Dashboard
    hr
    h4 Application Activity
        p Total Requests: #{requests.length}
        each request in requests
            p #{request.path}