extends layout.pug

block head
    link(rel="stylesheet" href="/stylesheets/dashboard.css")

block content
    h1 Node Server
    h4 Admin Dashboard
    hr
    h2 Application Activity
    p Total Requests: 
        span.data #{requests.length}
    h3 By Application:
    p NASA Image Search:
        - let nasa = requests.filter(req => req.application === 'nasa')
        span.data  #{nasa.length}
    p Weather:
        - let weather = requests.filter(req => req.application === 'weather')
        span.data  #{weather.length}      
    p Profile:
        - let profile = requests.filter(req => req.application === 'profile')
        span.data  #{profile.length}      