html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="/stylesheets/home.css")
        title= title

        block head
        block script

    body
        block content
